<main class="main">
  <p *ngIf="loading">loading films</p>

  <div *ngIf="!loading && !movie">
    brak
  </div>

  <h3>{{ movie.tmdbId }}</h3>
  <h3>{{ movie.id }}</h3>
  <h3>{{ movie.title }}</h3>
  <h3>{{ movie.overview }}</h3>

  <button (click)="RateGood(movie.tmdbId)">👍 Good</button>
  <button (click)="RateNeutral(movie.tmdbId)">😐 Neutral</button>
  <button (click)="RateBad(movie.tmdbId)">👎 Bad</button>
  <button (click)="AddToPlaylist(movie.tmdbId)">AddToPlaylist</button>
  <button (click)="removeRateFromMedia(movie.id)">removeRateFromMedia</button><br>

  <ul *ngIf="movieActors.length > 0">
    <li *ngFor="let ma of movieActors">
      {{ ma.original_name }}
      {{ ma.character }}
      {{ ma.order }}
    </li>
  </ul>
    
</main>
