<main class="playlist-dialog">
  <p *ngIf="loading">Ładowanie...</p>

  <section *ngIf="!loading">
    <ul *ngIf="redisdata.length > 0; else empty">
      <li *ngFor="let r of redisdata" class="genres-item">
        <span>
          {{ r.userNick }} {{ getActionText(r.userCommittedAction) }} {{ getMediaText(r.objectType) }}
          </span>
        <span class="genres-name">{{ r.objectId }}</span><br>
        <span class="genres-name">{{ r.createdDate | date:'short' }}</span><br>
      </li>
    </ul>

    <ng-template #empty>
      <p>Brak redisdata</p>
    </ng-template>
  </section>
</main>
