<p>manage-movie works!</p>
<main class="main">
  <p *ngIf="loading">loading films</p>

  <div *ngIf="!loading && movies.length === 0">brak</div>

  <div *ngFor="let movie of movies" class="movie-card">
    <h3>{{ movie.tmdbId }}</h3>
    <h3>{{ movie.id }}</h3>
    <h3>{{ movie.title }}</h3>
    <h3>{{ movie.overview }}</h3>

    <button (click)="RateGood(movie.tmdbId)">👍 Good</button>
    <button (click)="RateNeutral(movie.tmdbId)">😐 Neutral</button>
    <button (click)="RateBad(movie.tmdbId)">👎 Bad</button>
    <button (click)="AddToPlaylist(movie.tmdbId)">AddToPlaylist</button>
  </div>
</main>
